Brotli==1.1.0
Deprecated==1.2.18
DreaMS_MIMB==0.1
DreaMS_MIMB==0.1
DreaMS_MIMB==0.1
Flask==3.0.3
GitPython==3.1.44
Jinja2==3.1.6
MarkupSafe==3.0.2
PuLP==2.9.0
PubChemPy==1.0.4
PySocks==1.7.1
PyYAML==6.0.2
Pygments==2.19.2
QtPy==2.4.3
Send2Trash==1.8.3
Werkzeug==3.0.6
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
ansi2html==1.9.2
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi-bindings==21.2.0
argon2-cffi==25.1.0
arrow==1.3.0
ase==3.22.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
autocommand==2.2.2
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
black==24.4.2
bleach==6.2.0
blinker==1.9.0
cached-property==1.5.2
casregnum==1.0.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
chemformula==1.3.1
chemparse==0.3.1
click==8.2.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
coverage==7.9.1
cycler==0.12.1
dash==3.0.4
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
docker-pycreds==0.4.0
dreams==1.0.0
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
fire==0.6.0
fonttools==4.58.4
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.5.1
gitdb==4.0.12
h11==0.16.0
h2==4.2.0
h5py==3.11.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.23.2
hydra-core==1.3.2
hyperframe==6.1.0
idna==3.10
igraph==0.11.4
importlib_metadata==8.0.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
inflect==7.3.1
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema-specifications==2025.4.1
jsonschema==4.24.0
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter==1.0.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lightning-utilities==0.14.3
llvmlite==0.40.1
lxml==4.9.4
massspecgym==1.3.1
matchms==0.26.2
matplotlib-inline==0.1.7
matplotlib==3.10.3
mistune==3.1.3
molplotly==1.1.7
more-itertools==10.3.0
mpmath==1.3.0
msml==1.0
multidict==6.5.0
myopic_mces==1.0.0
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.3
notebook==7.4.3
notebook_shim==0.2.4
numba==0.57.1
numpy==1.24.4
omegaconf==2.3.0
overrides==7.7.0
packaging==24.2
packaging==25.0
pandarallel==1.6.5
pandas==2.2.1
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pickydict==0.4.0
pillow==11.2.1
pip==25.1.1
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
platformdirs==4.3.8
plotly==5.20.0
pluggy==1.6.0
pretty-errors==1.2.25
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==4.25.8
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py2opsin==1.1.0
pyarrow==15.0.2
pycparser==2.22
pynndescent==0.5.13
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyopenms==3.0.0
pyparsing==3.2.3
pyteomics==4.7.5
pytest-cov==5.0.0
pytest==8.2.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch-lightning==2.2.5
pytz==2025.2
pyzmq==27.0.0
qtconsole==5.6.1
rdkit-pypi==2022.9.5
rdkit==2023.9.4
referencing==0.36.2
requests==2.32.4
retrying==1.3.5
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.25.1
scikit-learn==1.5.0
scipy==1.10.1
seaborn==0.13.2
selfies==2.1.2
sentry-sdk==2.30.0
setproctitle==1.3.6
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
sparsestack==0.4.1
stack_data==0.6.3
sympy==1.14.0
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.19.1
tomli==2.0.1
tomli==2.2.1
torch==2.3.0
torch_geometric==2.5.3
torchmetrics==1.4.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.3.0
types-python-dateutil==2.9.0.20250516
typing_extensions==4.12.2
typing_extensions==4.14.0
typing_utils==0.1.0
tzdata==2025.2
umap-learn==0.5.6
uri-template==1.3.0
urllib3==2.5.0
wandb==0.17.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
yarl==1.20.1
zipp==3.19.2
zipp==3.23.0
zstandard==0.23.0